* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

html, body {

height: 100%;
width: 100%;

}



.faustop > img { 

float: left;

 }

 

 .faustop > div {

 	float: left;
 	width: 30%;
 }


.faustop {

	clear: both;


}

.faustop > div > button {

	float: right;
	padding: 1% 5%;
}