* {
text-decoration: none;
}

img {

    width: 10%;
    height: 10%;
    float: left;
    margin: 5%;


}

.botao-app {

background-color: #000000;


}

.googleplay {
color: white;
}

.appstore {
    color: white;

}

.botao-submit {


}
